body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background: white;
    margin: 8px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
}